.row.content-wrapper
	%br/
	.small-6.large-5.columns	
		%h1= current_user.name
		= image_tag current_user.avatar.url(:medium), class: "profile-pic"
		%h4= current_user.location
		%p 
			Main Instrument:
			= current_user.main_instrument
		%p
			Other Instruments:
			= current_user.user_instruments
		%p
			Favorite Styles: 
			= current_user.styles
		%p
			Skill Level: 
			= current_user.jam_skill.name

	.small-6.large-7.columns
		%p.edit= link_to "Edit Profile", edit_user_registration_path
		.clearfix
		%h4
			About: 
			%br/
		%p
			= current_user.bio


