.row.content-wrapper.spacing
	%br/
	.small-6.large-5.columns	
		%h1= @user.username
		= image_tag @user.avatar.url(:medium), class: "profile-pic"
		%h4= @user.location
		%p 
			Main Instrument:
			= @user.main_instrument
		%p
			Other Instruments:
			= @user.user_instruments
		%p
			Favorite Styles: 
			= @user.styles
		%p
			Skill Level: 
			= @user.jam_skill.name

		%p
			Jams:

		%h5 
			Following:
			= @user.following_by_type_count('User')		
		= @user.all_following.map(&:username).join(" / ")

		%h5 
			Followers:
			= @user.followers_by_type_count('User')		
		= @user.followers.map(&:username).join(" / ")
		%br/


		= link_to "Follow", follow_user_path(@user), class: 'btn followButton'
		*
		= link_to "Unfollow", unfollow_user_path(@user), class: 'btn followButton'



	.small-6.large-7.columns
		%p.edit= link_to "Edit Profile", edit_user_registration_path
		.clearfix
		%h4
			About: 
			%br/
		%p
			= @user.bio


