.profile-sub-header
	.row.user-profile-wrap
		.small-2.large-4.columns	
			= image_tag @user.avatar.url(:medium), class: "profile-pic"
		.small-4.large-4.columns
			%h2.title= @user.username
			%h5 
				= @user.main_instrument
				*
				= @user.location
			%h5.user-skill
				Skill Level: 
				%br/
				- if @user.jam_skill.name == "Beginner"
					= @user.jam_skill.name
					%br/
					= image_tag('/images/rock_hand_small.png', width: "40px")
					= image_tag('/images/rock_hand_grey.png', width: "40px")
					= image_tag('/images/rock_hand_grey.png', width: "40px")
					= @user.jam_skill.name
				- if @user.jam_skill.name == "Intermediate"
					= @user.jam_skill.name
					%br/
					= image_tag('/images/rock_hand_small.png', width: "40px")
					= image_tag('/images/rock_hand_small.png', width: "40px")
					= image_tag('/images/rock_hand_grey.png', width: "40px")
				- if @user.jam_skill.name == "Advanced"
					= @user.jam_skill.name
					%br/
					= image_tag('/images/rock_hand_small.png', width: "40px")
					= image_tag('/images/rock_hand_small.png', width: "40px")
					= image_tag('/images/rock_hand_small.png', width: "40px")
		.small-6.large-4.columns
			.follow-box
				%h5.following 
					= @user.following_by_type_count('User')
					%br/
					Following	
				%h5.followers 
					= @user.followers_by_type_count('User')	
					%br/
					Followers

			.clearfix
			- if user_signed_in?
				= link_to "Follow", follow_user_path(@user), class: 'follow-btn button'
				= link_to "Unfollow", unfollow_user_path(@user), class: 'follow-btn button'
.spacing
.row.spacing
	.small-6.large-5.columns	
		%p 
			Main Instrument:
			%br/
			= @user.main_instrument
		%p
			Other Instruments:
			%br/
			- if @user.user_instruments.blank?
				No other instruments.
			- else
				= @user.user_instruments
		%p
			Favorite Genres: 
			%br/
			- if @user.styles.blank?
				No favorite genres yet.	
			- else			
				= @user.styles
		%p
			Influences: 
			%br/
			- if @user.influences.blank?
				No influences yet.
			- else
				= @user.influences	
		%p
			Equipment: 
			%br/
			- if @user.equipment.blank?
				No equipment yet.
			- else
				= @user.equipment
				
	
		/ = @user.all_following.map(&:username).join(" / ")
	
		/ = @user.followers.map(&:name).join(" / ")
		/ %br/

		/ - if user_signed_in?
		/ 	= link_to "Follow", follow_user_path(@user), class: 'btn followButton'
		/ 	*
		/ 	= link_to "Unfollow", unfollow_user_path(@user), class: 'btn followButton'



	.small-6.large-7.columns
		- if @user == current_user
			%p.edit= link_to "Edit Profile", edit_user_registration_path
		.clearfix
		%h4.title
			About 
			%br/
		%p
			- if @user.bio.blank?
				No bio yet.
			- else
				= @user.bio

%footer
	.row.wrapper
		= link_to "", jams_path, class: "logo"
		%nav.breadcrumbs
			= link_to "About", root_path
			= link_to "Privacy Policy", root_path
			= link_to "Terms & Conditions", root_path
			= link_to "Contact", root_path
