.home-overlay
	.home-header
		.logo
	.welcome
		- if user_signed_in?
			.home-sign-out
				= link_to image_tag(current_user.avatar.url(:medium) , class: "header-profile-pic" ), user_path(current_user)
				= link_to "Sign Out", destroy_user_session_path, method: :delete
			%h1 
				Welcome Back, 
				= current_user.name
				%br/
				= link_to "Browse Sessions", jams_path, class: "button"
				or
				= link_to "Create your Own", new_jam_path, class: "button"
		- else
			%h1
				Find Other Musicians 
				%br/
				to 
				%span Jam 
				with in NYC.
				%br/
				= link_to "Browse Jams", jams_path, class: "button"
				%p
					Already have an account?
					= link_to "Login", new_user_session_path, class: "home-login"
	.why-jam
		.row 
			.large-6.columns
				.home-guitar
			.large-6.columns
				%h1 Why Jam with Other Musicians?
				%p Jamming is great for musicians who are interested in networking with other like minded people, from beginners to professionals and in all genres.  Attending open jams not only lets you collaborate with other musicians, but its a great way to find potential band members, and to test out and get feedback on new songs that you are working on!

				= link_to "Start Jammin'", jams_path, class: "button"  

