= simple_form_for @jam do |f|
	= f.label "Choose a Genre"
	= f.collection_select :genre_id, Genre.all, :id, :name, { promt: "Choose a Genre"}
	= f.input :title
	= f.input :location, label: "Preferred Location"
	= f.input :date, label: "Preferred Day/Days"
	= f.input :time
	= f.input :number_of_musicians
	= f.input :instrument_types
	= f.label "Preferred Skill Level"
	= f.collection_select :jam_skill_id, JamSkill.all, :id, :name, { promt: "Preferred Skill Level"}
	%br/
	%br/
	= f.input :information, label: "About the Jam"
	%br/
	%br/
	= f.button :submit