= simple_form_for @jam do |f|
	= f.collection_select :genre_id, Genre.all, :id, :name, { promt: "Choose a Genre"}
	= f.input :title
	= f.input :location
	= f.input :date
	= f.input :time
	= f.input :number_of_musicians
	= f.input :instrument_types

	= f.button :submit