.sub-header
	%h2 Find Jam Sessions in NYC.
	.genre-filter-box
		%h3{"data-dropdown" => "drop2", "aria-controls" => "drop2", "aria-expanded" => "false"}
			= link_to "Select Genre", jams_path, class:'genre-filter'
			= link_to image_tag('/images/arrow_down_rounder_black.png')
			%h4#drop2.f-dropdown.genre-dropdown{"data-dropdown-content" => "true", "aria-hidden" => "true"} 
				%li= link_to "All Genres", jams_path, class: 'genre-tags'
				- Genre.all.each do |genre|
					%li= link_to genre.name, jams_path(genre: genre.name), class: 'genre-tags'

.row.spacing.content-wrapper
	%h2 
		LATEST JAMS
	- if params[:genre].blank?
		%p All Genres
	- else
		%p 
			Genre:
			= @genre_id.name
	- @jams.each do |jam|
		.results-box
			%h4.text= link_to jam.title, jam
			%p.genre
				= jam.genre.name
			%p
				= image_tag jam.user.avatar.url(:thumb), class: "profile-pic"
				%br/
				by 
				= link_to jam.user.username, user_path(jam.user.id)
				%br/
				%br/
				Around 
				= jam.location
				%br/ 
				= jam.date
				%br/
				= jam.jam_skill.name
				%br/
				Members: 
				= jam.number_of_musicians
				%br/
				= link_to 'Check it Out', jam, class: 'button'
	.clearfix
	%br/			
	= will_paginate @jams, previous_label: "Newer", next_label: "Older", inner_window: 1, outer_window: 0

	
	





