.sub-header
	%h2 Find Jam Sessions in NYC.
	.genre-filter-box
		%h3{"data-dropdown" => "drop2", "aria-controls" => "drop2", "aria-expanded" => "false"}
			= link_to "Select Genre", jams_path, class:'genre-filter'
			= link_to image_tag('/images/arrow_down_rounder_black.png')
			%h4#drop2.f-dropdown.genre-dropdown{"data-dropdown-content" => "true", "aria-hidden" => "true"} 
				%li= link_to "All Genres", jams_path, class: 'genre-tags'
				- Genre.all.each do |genre|
					%li= link_to genre.name, jams_path(genre: genre.name), class: 'genre-tags'

.row.spacing.content-wrapper
	%h2.title 
		LATEST JAMS
	- if params[:genre].blank?
		%p All Genres
	- else
		%p 
			Genre:
			= @genre_id.name
	- @jams.each do |jam|
		.results-box
			%h4.text= link_to jam.title, jam
			%p.genre
				= jam.genre.name
			%p
				= image_tag jam.user.avatar.url(:thumb), class: "index-profile-pic"
				%br/
				by 
				= link_to jam.user.username, user_path(jam.user.id)
			
			%p.info
				=image_tag("https://d30y9cdsu7xlg0.cloudfront.net/png/9868-200.png", width: "35px")
				Where >
				= jam.location
				%br/ 
				=image_tag("https://d30y9cdsu7xlg0.cloudfront.net/png/173848-200.png", width: "35px")
				When >
				= jam.date
				%br/
				=image_tag("https://d30y9cdsu7xlg0.cloudfront.net/png/11910-200.png", width: "35px")
				Members Wanted >
				= jam.number_of_musicians
				%br/
				=image_tag("https://d30y9cdsu7xlg0.cloudfront.net/png/91427-200.png", width: "35px")
				Comments > 
				= jam.comments.count

			%h5.jam_skill
				- if jam.jam_skill.name == "Beginner"
					Level:
					= image_tag('/images/rock_hand_small.png', width: "15px")
					= image_tag('/images/rock_hand_grey.png', width: "15px")
					= image_tag('/images/rock_hand_grey.png', width: "15px")
				- if jam.jam_skill.name == "Intermediate"
					Level:
					= image_tag('/images/rock_hand_small.png', width: "15px")
					= image_tag('/images/rock_hand_small.png', width: "15px")
					= image_tag('/images/rock_hand_grey.png', width: "15px")
				- if jam.jam_skill.name == "Advanced"
					Level:
					= image_tag('/images/rock_hand_small.png', width: "15px")
					= image_tag('/images/rock_hand_small.png', width: "15px")
					= image_tag('/images/rock_hand_small.png', width: "15px")
			= link_to 'Check it Out', jam, class: 'button'
	.clearfix
	%br/			
	= will_paginate @jams, previous_label: "Newer", next_label: "Older", inner_window: 1, outer_window: 0
%footer
	.row.wrapper
		= link_to "", jams_path, class: "logo"
		%nav.breadcrumbs
			= link_to "About", root_path
			= link_to "Privacy Policy", root_path
			= link_to "Terms & Conditions", root_path
			= link_to "Contact", root_path
	
	





