.sub-header
	%h2 
		Find a 
		%span Jam Session 
		in Your Area.

.wrapper.filter-box
	%br/
	%h4 Browse by Genre:
	= link_to "All Genres", jams_path, class: 'genre-tags'
	- Genre.all.each do |genre|
		*
		= link_to genre.name, jams_path(genre: genre.name), class: 'genre-tags'

.row.content-wrapper
	%h2 
		Lastest Jams
	%br/
	- if params[:genre].blank?
		%p All Genres
	- else
		%p 
			Genre:
			= @genre_id.name
	- @jams.each do |jam|
		.results-box
			%h4.text= link_to jam.title, jam
			%p.genre
				= jam.genre.name
			%p
				= image_tag jam.user.avatar.url(:thumb), class: "profile-pic"
				%br/
				by: 
				= link_to jam.user.username, user_path(jam.user.id)
				%br/
				%br/
				Around 
				= jam.location
				%br/ 
				= jam.date
				%br/
				= jam.jam_skill.name
				%br/
				Members: 
				= jam.number_of_musicians
				%br/
				= link_to 'Join this Jam', jam, class: 'button'
	.clearfix
	%br/			
	= will_paginate @jams, previous_label: "Newer", next_label: "Older", inner_window: 1, outer_window: 0

	
	





