%h1= @jam.title
%h2= @jam.user.name
= image_tag(@jam.user.avatar.url(:thumb))
%h2= @jam.location
%h2= @jam.date
%h2= @jam.time
%h2= @jam.number_of_musicians
%h2= @jam.instrument_types

#comments
	%h2.comment_count= pluralize(@jam.comments.count, "Comment")
	- @comments.each do |comment|
		.comment
			%p.username= comment.user.name
			%p.content= comment.content
			%p.comment-date
				Written on
				= comment.created_at.strftime("%b %d, %Y")

	= render "comments/form"

= link_to "Edit", edit_jam_path(@jam)
= link_to "Cancel Session", jam_path(@jam), method: :delete, data: { confirm: "Are you sure?" }
= link_to "Home", root_path