.row.wrapper
	.spacing
	= link_to "â† Back", jams_path
%br/
.row
	.small-6.large-5.columns
		.jam-info-box
			.modify-box
				- if @jam.user == current_user
					= link_to " Edit", edit_jam_path(@jam), class: "edit-jam"
					%span /
					= link_to " Delete", jam_path(@jam), class: "delete-jam", method: :delete, data: { confirm: "Are you sure?" }
			.clearfix
			%h1= @jam.title
			.small-6.large-5.columns
				= link_to image_tag(@jam.user.avatar.url(:medium), class: "profile-pic" ), user_path(@jam.user.id)
			.small-6.large-7.columns	
				%h6
					Jam Leader: 
				%h6
					= link_to @jam.user.username, user_path(@jam.user.id), class: "jam-username"
				%h6= @jam.user.main_instrument
			.clearfix
			%hr/
			.row
				%h3.jam-skill
					- if @jam.jam_skill.name == "Beginner"
						Level:
						= image_tag('/images/rock_hand.png', width: "20px")
						= image_tag('/images/rock_hand_white.png', width: "20px")
						= image_tag('/images/rock_hand_white.png', width: "20px")
						%span{"data-tooltip" => "true", "aria-haspopup" => "true", "class" => "has-tip", "title" =>  "Beginner: No need to know a lot, maybe some covers and just be familiar with the notes. "} ?
					- if @jam.jam_skill.name == "Intermediate"
						Level:
						= image_tag('/images/rock_hand.png', width: "20px")
						= image_tag('/images/rock_hand.png', width: "20px")
						= image_tag('/images/rock_hand_white.png', width: "20px")
						%span{"data-tooltip" => "true", "aria-haspopup" => "true", "class" => "has-tip", "title" =>  "Intermediate: You must be able to keep up with chords, times, changes and overall improvization. Must know notes and/or times"} ?
					- if @jam.jam_skill.name == "Advanced"
						Level:
						= image_tag('/images/rock_hand.png', width: "20px")
						= image_tag('/images/rock_hand.png', width: "20px")
						= image_tag('/images/rock_hand.png', width: "20px")
						%span{"data-tooltip" => "true", "aria-haspopup" => "true", "class" => "has-tip", "title" =>  "Advanced: Must know your instrument by heart. Must know all music vocabulary and be able to play a wide range of styles."} ?
				%br/
				.large-6.columns
					%p.jam-elements
						Genre:
				.large-6.columns
					%p.jam-elements
						= @jam.genre.name
				.large-6.columns
					%p.jam-elements
						Location: 
				.large-6.columns
					%p.jam-elements
						= @jam.location
				.large-6.columns
					%p.jam-elements
						Preferred Days:
				.large-6.columns
					%p.jam-elements
						= @jam.date
				.large-6.columns 
					%p.jam-elements
						Preferred Time: 
				.large-6.columns 
					%p.jam-elements
						= @jam.time
				.large-6.columns
					%p.jam-elements
						Musicians Wanted:
				.large-6.columns
					%p.jam-elements
						= @jam.number_of_musicians
				.clearfix
				.large-6.columns
					%p.jam-elements
						I Need:
				.large-6.columns
					%p.jam-elements
						= @jam.instrument_types

				.clearfix
				%p.jam-elements
					Description:
					%br/
					= @jam.information

	.small-6.large-7.columns.comments-box	
		%h4 Start the Conversation
		%br/
		- if user_signed_in?
			= render "comments/form"
		- else
			%h5 
				You need to 
				= link_to "login", new_user_session_path
				to post comments.	
		%p.comment-count= pluralize(@jam.comments.count, "Comment")
		#comments
			- @comments.each do |comment|
				.comment
					.userbox
						= link_to image_tag(comment.user.avatar.url(:thumb), class: 'mini-avatar' ), user_path(comment.user.id)
						.username
							= link_to comment.user.name, user_path(comment.user.id)
							.comment-delete 
								- if comment.user == current_user
									= link_to "X", [comment.jam, comment], method: :delete, data: { confirm: "Are you sure?" }
						.comment-date
							= time_ago_in_words(comment.created_at)
							ago.
						
					.content
						= comment.content		
%footer
	.row.wrapper
		= link_to "", jams_path, class: "logo"
		%nav.breadcrumbs
			= link_to "About", root_path
			= link_to "Privacy Policy", root_path
			= link_to "Terms & Conditions", root_path
			= link_to "Contact", root_path
