.wrapper
	%h1= @jam.title
.row.content-wrapper
	.small-6.large-5.columns
		%h5
			by 
			= link_to @jam.user.name, user_path(@jam.user_id)
		= image_tag @jam.user.avatar.url(:thumb), class: "profile-pic"
		%h5
			Genre:
			= @jam.genre.name
		%h5
			Location: 
			= @jam.location
		%h5
			Date: 
			= @jam.date
		%h5
			Time: 
			= @jam.time
		%h5
			Number of Musicians:
			= @jam.number_of_musicians
		%h5
			Instruments Wanted:
			= @jam.instrument_types
		%h5
			Skill Level:
			= @jam.jam_skill.name
		= link_to "Edit", edit_jam_path(@jam)
		%span /
		= link_to "Cancel Jam", jam_path(@jam), method: :delete, data: { confirm: "Are you sure?" }

	.small-6.large-7.columns	
		%h4 Start the Conversation
		%h5.comment_count= pluralize(@jam.comments.count, "Comment")
		- @comments.each do |comment|
			.comment
				%p.username
					[ 
					= link_to comment.user.name, user_path(comment.user_id)
					]
				%p.content= comment.content
				%p.comment-date
					Written on
					= comment.created_at.strftime("%b %d, %Y")

		= render "comments/form"

