.wrapper
	%h1= @jam.title
.row.content-wrapper
	.small-6.large-5.columns
		%h5
			by 
			= link_to @jam.user.username, user_path(@jam.user.id)
		= image_tag @jam.user.avatar.url(:thumb), class: "profile-pic"
		%h5
			Genre:
			= @jam.genre.name
		%h5
			Location: 
			= @jam.location
		%h5
			Date: 
			= @jam.date
		%h5
			Time: 
			= @jam.time
		%h5
			Number of Musicians:
			= @jam.number_of_musicians
		%h5
			Instruments Wanted:
			= @jam.instrument_types
		%h5
			Skill Level:
			= @jam.jam_skill.name
		= if user_signed_in?
			= link_to "Edit", edit_jam_path(@jam)
			%span /
			= link_to "Cancel Jam", jam_path(@jam), method: :delete, data: { confirm: "Are you sure?" }

	.small-6.large-7.columns.comments-box	
		%h4 Start the Conversation
		%p.comment-count= pluralize(@jam.comments.count, "Comment")
		#comments
			- @comments.each do |comment|
				.comment
					%p.username
						[ 
						= link_to comment.user.name, user_path(comment.user.id)
						]
					%p.content= comment.content
					- if user_signed_in?
						= link_to "Delete", [comment.jam, comment], method: :delete, data: { confirm: "Are you sure?" }
					%p.comment-date
						= time_ago_in_words(comment.created_at)
						ago.
		%br/
		- if user_signed_in?
			= render "comments/form"
		- else
			%h5 You need to login to post comments.	

