!!! 5
%html
%head
	%title JamSesh - Find other musicians to jam with in NYC
	= stylesheet_link_tag    'application', media: 'all'
	= javascript_include_tag 'application'
	= javascript_include_tag 'vendor/modernizr'
	%meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
	= favicon_link_tag 'favicon.ico'
	%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"}
	%link{:rel => "stylesheet", :href => "//brick.a.ssl.fastly.net/TeX+Gyre+Heros:400,700"}
	= csrf_meta_tags
	/.   __                      _        _                         .
	/.  / _| _ __   __ _  _ __  | | __   (_) _   _   __ _  _ __     .
	/. | |_ | '__| / _` || '_ \ | |/ /   | || | | | / _` || '_ \    .
	/. |  _|| |   | (_| || | | ||   <    | || |_| || (_| || | | | _ .
	/. |_|  |_|    \__,_||_| |_||_|\_\  _/ | \__,_| \__,_||_| |_|(_).
	/.                                 |__/                         .
	/  hello@frankjuan.com
.off-canvas-wrap{"data-offcanvas" => "true"}
	- if notice
		#notice-wrapper
			%p.notice= notice
	- elsif alert
		#notice-wrapper
			%p.alert= alert

	%header
		.row.header-wrapper
			= link_to "", jams_path, class: "logo"
			%nav
				- if user_signed_in?
					= link_to "Start a Jam", new_jam_path, class: "button"
					.nav-username
						%p{"data-dropdown" => "drop1", "aria-controls" => "drop1", "aria-expanded" => "false"}
							= link_to image_tag(current_user.avatar.url(:medium) , class: "header-profile-pic" ), user_path(current_user)
							= link_to image_tag('/images/nav_arrow_down.png', width: "10px"), user_path(current_user)
							/ = link_to current_user.name + " ↓", user_path(current_user.id), class:'nav-user'
							%ul#drop1.f-dropdown{"data-dropdown-content" => "true", "aria-hidden" => "true"} 
								%li 
									= link_to "Profile", user_path(current_user.id)
								%li 
									= link_to "Edit", edit_user_registration_path
								%li
									= link_to "Sign Out", destroy_user_session_path, method: :delete	
					.nav-menu
						= link_to "Jams", jams_path
						= link_to "Musicians", musicians_path
				- else
					.auth-links
						= link_to "Browse", jams_path
						= link_to "Log in", new_user_session_path
						= link_to "Join", new_user_registration_path, class: "button"			
				

	%main.inner-wrap			
		= yield





		






